/* inert source comment */

.cl2_2, #title {
  line-height: 1.2;
  font-weight: 700;
  color: #342;
}

.cl2_3 {
  padding-left: 10px;
  padding-bottom: 8px;
  padding-right: 10px;
  padding-top: 10px;
  background-color: #ffe;
}

.cl2_5 {
  text-decoration-line: underline;
  color: #875;
}

.cl2_6 {
  background-color: #ffe;
  background-image: url("../media/pixel.png");
}

.cl2_7 > .cl2_8 {
  font-style: italic;
  margin-top: 4px;
}
