.cl23_8, #title {
  line-height: 1.2;
  font-weight: 700;
  color: #324;
}

.cl23_3 {
  padding-left: 10px;
  padding-bottom: 8px;
  padding-right: 10px;
  padding-top: 11px;
  background-color: #fef;
}

.cl23_5 {
  text-decoration-line: underline;
  color: #756;
}

.cl23_6 {
  background-color: #fef;
  background-image: url("../assets/dot.png");
}

.cl23_7 > .cl23_8 {
  font-style: italic;
  margin-top: 4px;
}
