/* inert source comment */

.cl3_2, #id3_0 {
  line-height: 1.2;
  font-weight: 700;
  color: #324;
}

.cl3_3 {
  padding-left: 10px;
  padding-bottom: 8px;
  padding-right: 10px;
  padding-top: 11px;
  background-color: #fef;
}

.cl3_5 {
  text-decoration-line: underline;
  color: #756;
}

.cl3_6 {
  background-color: #fef;
  background-image: url("mark.png");
}

.cl3_7 > .cl3_8 {
  font-style: italic;
  margin-top: 4px;
}
