.cl5_2, #title {
  color: #243;
  font-weight: 700;
  line-height: 1.2;
}

.cl5_3 {
  background-color: #efe;
  padding-top: 9px;
  padding-right: 10px;
  padding-bottom: 8px;
  padding-left: 10px;
}

.cl5_5 {
  color: #586;
  text-decoration-line: underline;
}

.cl5_6 {
  background-image: url("../assets/dot.png");
  background-color: #efe;
}

.cl5_7 > .cl5_8 {
  font-style: italic;
  margin-top: 4px;
}
