.cl16_2, #title {
  color: #234;
  font-weight: 700;
  line-height: 1.2;
}

.cl16_3 {
  background-color: #eef;
  padding-top: 8px;
  padding-right: 10px;
  padding-bottom: 8px;
  padding-left: 10px;
}

.cl16_5 {
  color: #567;
  text-decoration-line: underline;
}

.cl16_6 {
  background-image: url("mark.png");
  background-color: #eef;
}

.cl16_7 > .cl16_8 {
  font-style: italic;
  margin-top: 4px;
}
