/* inert source comment */

.cl11_2, #title {
  color: #324;
  font-weight: 700;
  line-height: 1.2;
}

.cl11_3 {
  background-color: #000;
  padding-top: 11px;
  padding-right: 10px;
  padding-bottom: 8px;
  padding-left: 10px;
}

.cl11_5 {
  color: #756;
  text-decoration-line: underline;
}

.cl11_6 {
  background-image: url("mark.png");
  background-color: #fef;
}

.cl11_7 > .cl11_8 {
  font-style: italic;
  margin-top: 4px;
}
